*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.top-menu{
    width: 100%;
    height: 30px;
    background-color:#FF5900;
}
.top-menu li{
    float:left;
    color: white;
    padding: 0px 08px;
    font-size: 13px;
    margin-left: 10px;
}
ul{
    padding-top: 5px;
    margin-left: 10%; 
}
.container{
    width: 1150px;
    margin: 0 auto;
    text-align: center;
}
.header-body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100px;
    line-height: 100px;
}
.USD{
    margin-top: 05px;
    margin-right: 310px;
}
.cart img{
    margin-top: 05px;
    margin-left: 300px;
}
.header-body a{
    color: black;
    text-decoration: none;
}
.navigation ul{
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    list-style-type: none;
    height: 70px;
}
.navigation li{
    display: inline-block;
    font-size: 13px;
    height: 70px;
    line-height: 60px;
}
.navigation li a{
    text-decoration: none;
    text-align: center;
    padding: 0 30px;
    color: black;
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    text-align: left;
}
.content-img{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.footer{
    margin-top: 600px;
    background-color: #005b96;
    height: 90px;
    line-height: 100px;
    text-align: center;
    color:#b5b5b5;
    width: 1198px;
}
.header-topmenu{
    margin-top: -24px;
    margin-left: 970px;
}
.timcun img{
    margin-top: 05px;
}